.navbar {
  // -------------------------------------- Mobile ---------------------------------------
  z-index: 2;
  display: flex;
  justify-content: center;
  position: fixed;
  width: 100%;
  background-color: $background-color-dark;
  box-shadow: 0 0.01rem 0.5rem black;
  user-select: none;
  transition: 0.4s ease-out;

  &__title {
    display: flex;
    align-items: center;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 30;
    right: 0.75rem;
    height: 100%;
    width: fit-content;
    margin: 0;
    font-size: 1.1rem;
    font-weight: 400;
    color: $silver-text-color;
    background-color: $background-color-dark;
    transition: 0.3s;
    cursor: pointer;
  }

  &__title:hover {
    text-shadow: 0 0 0.1rem white;
    transition: 0s;
  }

  &__title--on {
    visibility: visible;
    opacity: 1;
    transition: 1s;
  }

  // -------------------- Dropdown Menu --------------------
  &__dropdown-icon-wrapper {
    z-index: 1;
    height: 3rem;
    width: 100%;
    background-color: $background-color-dark;
  }

  &__dropdown-icon {
    padding: 0.5rem;
    font-size: 2rem !important;
    color: $highlight-color;

    &:hover {
      cursor: pointer;
    }
  }

  // -------------------- Links --------------------
  &__links {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0.5rem;
    width: 100%;
    padding-top: 2.5rem;
    transition: 0.3s ease-out;
    background-color: $background-color-dark;
  }

  &__links--off {
    top: -11.25rem;
    transition: 0s;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 0.3rem;
    border-top: solid 0.1rem grey;
    font-size: 1.2rem;
    color: $silver-text-color;
    text-decoration: none;
  }

  &__link:last-child {
    padding-bottom: 0.4rem;
  }

  &__link:hover {
    text-shadow: 0 0 0.1rem white;
  }

  &__link--active:hover {
    text-shadow: none;
  }

  &__link--active {
    color: black;
    background-color: $highlight-color;
  }

  // -------------------------------------- Large Screen ---------------------------------------
  @media all and (min-width: $lg) {
    height: 4rem;

    &__title {
      right: 1rem;
      font-size: 1rem;
    }

    &__dropdown-icon-wrapper {
      display: none;
    }

    &__links {
      flex-direction: row;
      position: relative;
      top: 0;
      width: auto;
      padding-top: 0;
      transition: 0s;
    }

    &__links--off {
      top: 0;
    }

    &__link {
      padding: 0 1rem;
      border-bottom: none;
      border-top: none;
      font-size: 1.25rem;
    }

    &__link:last-child {
      padding-bottom: 0;
    }
  }

  // -------------------------------------- XL Screen ---------------------------------------
  @media all and (min-width: $xl) {
    &--tall {
      height: 2.5rem;
    }
  }
}
