.news {
    // -------------------------------------- Mobile ---------------------------------------
    min-height: 100vh;
    
    &__loader-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__header {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.35rem;
        width: 95%;
        margin-inline: auto;
        margin-top: 6rem;
        margin-bottom: 4rem;
        background-image: linear-gradient(to right, transparent, black 50%, transparent);
        user-select: none;

        h1 {
            margin: 0;
            padding: 0.25rem 1rem;
            border-radius: 0.5rem;
            box-shadow: 0.075rem 0.075rem 0.25rem black;
            font-weight: 400;
            font-size: calc(0.7vw + 1.5rem);
            color: black;
            background-color: $highlight-light-color;
        }
    }

    &__articles-container {
        display: grid;
        grid-template-columns: auto;
        grid-gap: 1.5rem;
        width: min(90%, 80rem);
        margin-inline: auto;
        margin-bottom: 2rem;
    }

    &__article {
        background-color: white;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        height: 20rem;
        list-style-type: none;
        box-shadow: 0.1rem 0.1rem 0.5rem black;
        overflow: hidden;
        padding: 1rem 0;
        text-decoration: none;
        color: black;
    }

    &__article:hover {
        cursor: pointer;
        .news__article-image {
            transform: scale(1.05);
        }
    }

    &__article-title {
        height: 20%;
        padding: 0 1rem;
        font-weight: 600;
        font-size: calc(0.2vw + 1rem);
        overflow: hidden;
    }

    &__article-image-wrapper {
        position: relative;
        overflow: hidden;
        height: 40%;
        width: 100%;
        display: block;
        margin-inline: auto;
    }

    &__article-image {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        height: 100%;
        min-width: 100%;
        width: auto;
        transition: 0.5s ease-out;
    }

    &__article-description {
        padding: 0 1.25rem;
        font-size: calc(0.2vw + 1rem);
        overflow: hidden;

        &:after {
            content: "...";
        }
    }

    // -------------------------------------- Small Screen ---------------------------------------
    @media all and (min-width: $sm) {
        &__header {
            margin-top: 7rem;
            margin-bottom: 4rem;
        }

        &__articles-container {
            padding: 0rem 1.5rem 2rem;
            margin-inline: auto;
            grid-template-columns: auto auto;
        }
    }

    // -------------------------------------- Large Screen ---------------------------------------
    @media all and (min-width: $lg) {
        &__header {
            margin-top: 8rem;
        }

        &__articles-container {
            grid-template-columns: auto auto auto;
        }
    }

    // -------------------------------------- XL Screen ---------------------------------------
    @media all and (min-width: $xl) {
        &__header {
            margin-top: 9rem;
        }

        &__articles-container {
            grid-template-columns: auto auto auto auto;
        }
    }

    // -------------------------------------- XXL Screen ---------------------------------------
    @media all and (min-width: $xxl) {
        &__header {
            margin-top: 10rem;
            margin-bottom: 5rem;
        }
        &__article {
            height: 25rem;
        }
    }
}
