.home {
    // -------------------------------------- Mobile ---------------------------------------
    display: flex;
    flex-direction: column;
    background-color: linear-gradient(to bottom, $silver-background-color, $silver-light-background-color);
    box-shadow: 0.25rem 0.25rem 10rem rgb(0, 0, 0, 0.5) inset;

    // -------------------- Content --------------------
    &__scroll-icon {
        visibility: hidden;
        opacity: 0;
        z-index: 1;
        position: fixed;
        bottom: 2.5rem;
        left: 0;
        right: 0;
        margin: auto;
        padding: 0.75rem 0.2rem 0.25rem;
        border-radius: 0 0 7rem 7rem;
        font-size: calc(1.5vw + 2.5rem) !important;
        color: $silver-text-color;
        background-image: linear-gradient(to bottom, transparent, black);
        -webkit-text-stroke: 0.04rem white !important;
        box-shadow: 0 0.2rem 0.1rem black;
        cursor: pointer;
        transition: 1s !important;
        animation: blinker 1.75s linear infinite;
        animation-delay: 5s;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    &__scroll-icon--show {
        visibility: visible;
        opacity: 1;
        transition: 2s !important;
    }

    // ------------------- Footer --------------------
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: fixed;
        bottom: 0;
        height: 2rem;
        width: 100%;
        background-color: $silver-background-color;
        transition: 1s;
    }

    &__footer--scrolled {
        color: $silver-text-color;
        background-color: $background-color-dark;
    }

    &__copyright-text {
        font-size: 0.8rem;
    }

    // -------------------------------------- Medium Screen ---------------------------------------
    @media all and (min-width: $md) {
        &__scroll-icon {
            left: 50%;
            border-radius: 0 0 5rem 5rem;
            background-image: linear-gradient(to bottom, transparent, black);
        }

        &__footer {
            height: 1.75rem;
        }

        &__copyright-text {
            font-size: 0.9rem;
        }
    }
    
    // -------------------------------------- XXL Screen ---------------------------------------
    @media all and (min-width: $xxl) {
        
        &__copyright-text {
            font-size: 1rem;
        }
    }
}
