.home-hero {
    // -------------------------------------- Mobile ---------------------------------------
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: 100vh;
    min-height: 40rem;

    &__video {
        display: none;
        z-index: -1;
        opacity: 90%;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: fill;
        overflow: hidden;
        box-shadow: 0.25rem 0.25rem 7.5rem rgb(0, 0, 0, 5);
        animation: video 1.5s ease-in;
    }

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        margin-top: 5rem;
        gap: 2rem;
    }

    // -------------------- Header --------------------
    &__header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
        z-index: 1;
        width: 100%;
        padding: 2rem 0;
        background-image: linear-gradient(to right, transparent, $silver-background-color 50%, transparent);
        box-shadow: 0.1rem 0.1rem 0.5rem black;
        animation: header 1.5s ease-out;

        h1 {
            margin: 0rem;
            font-weight: 600;
            font-size: calc(2.25vw + 1rem);
            color: rgba(0, 0, 0, 0.75);
        }

        h2 {
            display: none;
            margin: 0rem;
            font-weight: 400;
            font-size: calc(0.3vw + 1rem);
        }
    }

    // -------------------- Buttons --------------------
    &__buttons {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        width: 100%;
        animation: buttons 1.5s forwards ease-out;
    }

    &__button {
        position: relative;
        height: 9rem;
        width: 90%;
        overflow: hidden;
        border: 0.1rem solid black;
        box-shadow: 0.2rem 0.2rem 0.6rem black;
        cursor: pointer;
        user-select: none;

        h1 {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150%;
            margin: 0;
            padding: 0.2rem;
            text-align: center;
            font-weight: 600;
            font-size: calc(1vw + 1rem);
            letter-spacing: 0.05rem;
            color: black;
            -webkit-text-stroke: 0.04rem white;
            background-image: linear-gradient(to right, transparent, $silver-background-color 50%, transparent);
            box-shadow: 0 0 0.25rem black;
        }
    }

    &__image-button {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        min-height: 100%;
        margin: auto;
        filter: grayscale(25%);
    }

    // -------------------------------------- Medium Screen ---------------------------------------
    @media all and (min-width: $md) {
        &__container {
            margin-top: 7rem;
            gap: 3rem;
        }
        &__buttons {
            gap: 2rem;
            width: 90%;
        }
    }

    // -------------------------------------- Large Screen ---------------------------------------
    @media all and (min-width: $lg) {
        justify-content: center;

        &__video {
            display: block;
            position: absolute;
            top: 0;
        }

        &__container {
            height: 65%;
            margin-top: 0;
            gap: 0;
        }

        &__header {
            margin-top: 0;
            height: 15%;
            h1 {
                margin: 0rem;
                color: rgba(0, 0, 0, 0.75);
            }

            h2 {
                display: block;
                position: static;
            }
        }

        &__buttons {
            flex-direction: row;
            gap: 2rem;
            height: 42.5%;
        }

        &__button {
            height: 100%;
            width: fit-content;
        }

        &__image-text {
            -webkit-text-stroke: 0.065rem white;
        }

        &__image-button {
            position: static;
            height: 100%;
            width: auto;
        }
    }

    // -------------------------------------- XL Screen ---------------------------------------
    @media all and (min-width: $xl) {
        &__header {
            gap: 0.5rem;
        }

        &__buttons {
            gap: 2.5rem;
        }
    }

    // -------------------------------------- XXL Screen ---------------------------------------
    @media all and (min-width: $xxl) {
        @keyframes video {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        &__header {
            gap: 1rem;
            padding: 2.5rem 0;
        }

        @keyframes header {
            from {
                opacity: 20%;
                transform: translateY(-0.75rem);
            }
            to {
                opacity: 100%;
                transform: translateY(0);
            }
        }

        &__buttons {
            opacity: 10%;
            margin-bottom: 1rem;
        }

        @keyframes buttons {
            from {
                opacity: 10%;
                transform: translateY(0.75rem);
            }
            to {
                opacity: 100%;
                transform: translateY(0);
            }
        }

        &__button {
            img {
                transition: 0.15s;
            }

            h1 {
                -webkit-text-stroke: 0.1rem white;
            }
        }

        &__button:hover {
            img {
                transition: 0.3s;
                filter: grayscale(2.5%);
                transform: scale(1.05);
            }
        }
    }
}
