.home {
    // -------------------------------------- Mobile ---------------------------------------
    display: flex;
    flex-direction: column;
    background-color: linear-gradient(to bottom, $silver-background-color, $silver-light-background-color);
    box-shadow: 0.25rem 0.25rem 10rem rgb(0, 0, 0, 0.5) inset;


    // -------------------- Mobile Content --------------------
    &__scroll-icon {
        z-index: 1;
        visibility: hidden;
        opacity: 0;
        position: fixed;
        bottom: 2.25rem;
        left: 0;
        right: 0;
        margin: auto;
        font-size: 2.75rem !important;
        -webkit-text-stroke: 0.04rem white !important;
        cursor: pointer;
        animation: blinker 1.75s linear infinite;
        animation-delay: 5s;
        transition: 0s !important;
        border-radius: 0 0 5rem 5rem;
        padding: 0.5rem 0.25rem 0.25rem;
        color: $silver-text-color;
        background-image: linear-gradient(to bottom, transparent, black);
        box-shadow: 0 0 0.25rem black;
    }

    @keyframes blinker {
        50% {
            opacity: 0;
        }
    }

    &__scroll-icon--show {
        visibility: visible;
        opacity: 1;
        transition: 2s !important;
    }

    // ------------------- Mobile Footer --------------------
    &__footer {
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;
        position: fixed;
        bottom: 0;
        height: 2rem;
        width: 100%;
        background-color: $silver-background-color;
        transition: 1s;
    }

    &__footer--scrolled {
        color: $silver-text-color;
        background-color: $dark-background-color;
    }

    &__copyright-text {
        font-size: 0.8rem;
    }

    // -------------------------------------- Medium Screen ---------------------------------------
    @media all and (min-width: $md) {
        &__scroll-icon {
            border-radius: 0 0 5rem 5rem;
            font-size: 3rem !important;
            background-image: linear-gradient(to bottom, transparent, black);
        }

        // ------------------- Medium Screen Footer --------------------
        &__footer {
            height: 1.75rem;
        }

        &__copyright-text {
            font-size: 0.9rem;
        }
    }

    // -------------------------------------- Large Screen ---------------------------------------
    @media all and (min-width: $lg) {
        &__scroll-icon {
            font-size: 3.5rem !important;
        }
    }

    // -------------------------------------- XXL Screen ---------------------------------------
    @media all and (min-width: $xxl) {
        &__scroll-icon {
            font-size: 5rem !important;
        }
        
        // -------------------- XXL Screen Footer --------------------
        &__copyright-text {
            font-size: 1rem;
        }
    }
}
