.home-hero {
    // -------------------------------------- Mobile ---------------------------------------

    display: flex;
    flex-direction: column;
    gap: 3.5rem;
    z-index: 1;
    height: 100vh;

    // -------------------- Mobile Header --------------------
    &__header {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.5rem;
        z-index: 1;
        margin-top: 5.5rem;
        padding: 1.75rem;
        background-image: linear-gradient(to right, transparent, $silver-background-color 50%, transparent);
        box-shadow: 0.1rem 0.1rem 0.5rem black;
        animation: header 1.5s ease-out;

        h1 {
            margin: 0rem;
            font-weight: 600;
            font-size: 2.5rem;
            color: rgba(0, 0, 0, 0.75);
        }

        h2 {
            display: none;
            margin: 0rem;
            font-weight: 400;
            font-size: 1.2rem;
        }
    }

    // -------------------- Mobile Content --------------------
    &__content {
        display: flex;
        justify-content: center;
    }

    &__video {
        display: none;
        z-index: -1;
        opacity: 90%;
        position: absolute;
        height: 100%;
        width: 100%;
        object-fit: fill;
        overflow: hidden;
        box-shadow: 0.25rem 0.25rem 7.5rem rgb(0, 0, 0, 5);
        animation: video 1.5s ease-in;
    }

    &__buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        width: 92.5%;
        animation: buttons 1.5s ease-in;
    }

    &__button {
        position: relative;
        height: 9rem;
        width: 90%;
        overflow: hidden;
        border: 0.15rem solid black;
        box-shadow: 0.2rem 0.2rem 0.6rem black;
        cursor: pointer;
        user-select: none;

        h1 {
            position: absolute;
            z-index: 1;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 150%;
            margin: 0;
            padding: 0.2rem;
            text-align: center;
            font-weight: 600;
            font-size: 1.3rem;
            letter-spacing: 0.05rem;
            color: black;
            -webkit-text-stroke: 0.04rem white;
            background-image: linear-gradient(to right, transparent, $silver-background-color 50%, transparent);
            box-shadow: 0 0 0.25rem black;
        }
    }

    &__documents-button {
        z-index: 1;
        animation: documentsButton 1.5s ease-out;
    }

    &__maps-button {
        animation: mapsButton 1.5s ease-out;
    }

    &__image-button {
        height: 100%;
        width: 100%;
        background-position: center;
        background-size: cover;
        filter: grayscale(25%);
    }

    &__documents-image {
        background-image: url(../../../../public/images/home-documents-link.jpeg);
    }

    &__maps-image {
        background-image: url(../../../../public/images/home-maps-link.jpg);
    }

    // -------------------------------------- Medium Screen ---------------------------------------

    @media all and (min-width: $lg) {
        justify-content: space-around;
        gap: 0;

        // -------------------- Medium Screen Header --------------------
        &__header {
            margin-top: 4rem;

            h1 {
                margin: 0rem;
                font-weight: 600;
                font-size: 2.5rem;
                color: rgba(0, 0, 0, 0.75);
            }

            h2 {
                display: block;
                position: static;
            }
        }

        // -------------------- Medium Screen Content --------------------
        &__video {
            display: block;
            position: absolute;
            top: 0;
        }

        &__content {
            margin-top: 0;
            align-items: center;
        }

        &__buttons {
            flex-direction: row;
            gap: 2.5rem;
            width: auto;
            margin-bottom: 3rem;
        }

        &__button {
            height: 11rem;
            width: 22rem;

            h1 {
                padding: 0.3rem;
            }
        }
    }

    // -------------------------------------- XL Screen ---------------------------------------

    @media all and (min-width: $xl) {
        // -------------------- XL Screen Header --------------------
        &__header {
            margin-top: 4.5rem;
            gap: 1rem;

            h1 {
                font-size: 3rem;
            }

            h2 {
                font-size: 1.4rem;
            }
        }

        // ------------------- XL Screen Content --------------------
        &__buttons {
            margin-bottom: 5rem;
        }

        &__button {
            height: 14rem;
            width: 28rem;

            h1 {
                font-size: 1.75rem;
                -webkit-text-stroke: 0.075rem white;
            }
        }
    }

    // -------------------------------------- XXL Screen ---------------------------------------

    @media all and (min-width: $xxl) {
        @keyframes video {
            from {
                opacity: 0;
            }
            to {
                opacity: 1;
            }
        }

        // -------------------- XXL Screen Header --------------------
        &__header {
            gap: 1.25rem;

            h1 {
                font-size: 3.5rem;
            }
        }

        @keyframes header {
            from {
                opacity: 20%;
                transform: translateY(-0.75rem);
            }
            to {
                opacity: 100%;
                transform: translateY(0);
            }
        }

        // -------------------- XXL Screen Content --------------------

        &__buttons {
            margin-bottom: 8rem;
        }

        @keyframes buttons {
            from {
                opacity: 10%;
            }
            to {
                opacity: 100%;
            }
        }

        &__button {
            height: 15rem;
            width: 30rem;

            img {
                transition: 0.15s;
            }

            h1 {
                padding: 0.1rem;
                font-size: 2.25rem;
                -webkit-text-stroke: 0.1rem white;
            }
        }

        @keyframes documentsButton {
            from {
                transform: translateX(16.5rem);
            }
            to {
                transform: translateX(0);
            }
        }

        @keyframes mapsButton {
            from {
                transform: translateX(-16.5rem);
            }
            to {
                transform: translateX(0);
            }
        }

        &__button:hover {
            img {
                transition: 0.3s;
                filter: grayscale(2.5%);
                transform: scale(1.05);
            }
        }
    }
}
