// -------------------------------------- General Syling and Imports ---------------------------------------

// TODO: font-weight bij h1 en h2 hier instellen
// Setting the styling of the application to use full height and flexbox, among other general settings.
html,
body,
#root {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
p {
    margin: 0;
}

ul,
li {
    margin: 0;
    padding: 0;
}

button {
    border: none;
}

// Fonts
* {
    font-family: "Roboto Condensed", sans-serif;
}

// -------------------------------------- Imports ---------------------------------------

// Project Style Files
@import './variables.scss';
@import './components/navbar.scss';
@import './components/home/home.scss';
@import './components/home/home-hero.scss';
@import './components/home/home-info.scss';
@import './components/news.scss';
@import './components/maps/maps.scss';
@import './components/maps/maps-info.scss';
@import './components/documents/documents.scss';
@import './components/documents/documentVideos.scss';
@import './components/documents/documentImages.scss';

// Fonts
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");

html {
    background-color: linear-gradient(to bottom, $silver-background-color, $silver-light-background-color);
    box-shadow: 0.25rem 0.25rem 10rem rgb(0, 0, 0, 0.5) inset;
}
