// -------------------------------------- General Syling and Imports ---------------------------------------

// Setting the styling of the application to use full height and flexbox, among other general settings.
html,
body,
#root {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    padding: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-tap-highlight-color: transparent;
}

// Fonts
* {
    font-family: 'Roboto Condensed', sans-serif;
}

// -------------------------------------- Imports ---------------------------------------

// Project Style Files
@import './variables.scss';
@import './components/navbar.scss';
@import './components/home/home.scss';
@import './components/home/home-hero.scss';
@import './components/home/home-info.scss';
@import './components/news.scss';

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');