// -------------------------------------- Variables ---------------------------------------

// -------------------- Colors --------------------
$silver-background-color: #d8d8d8;
$dark-background-color: #1f1f1f;

$highlight-color: #d0d0d0;

// -------------------- Screen sizes --------------------
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
