// -------------------------------------- Variables ---------------------------------------

// TODO: variable namen refactoren
// bg-dark bg-light-silver bg-silver clr-silve clr-highlight clr-light-highlight
// ------------------- Colors -------------------
$silver-background-color: #d8d8d8;
$silver-light-background-color: #e9e9e9;
$background-color-dark: #1f1f1f;

$silver-text-color: #f2f2f2;
$highlight-color: #d0d0d0;
$highlight-light-color: #e8e8e8;

// ------------------- Screen sizes -------------------
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;

