@import "/src/styles/variables.scss";

.document-videos {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 75%;
    height: calc(100% - 10.7rem);
    margin-top: 2rem;
    padding: 0.75rem 0 0.75rem 0.75rem;
    border-radius: 0.5rem;
    background-color: $silver-background-color;
    box-shadow: 0.05rem 0.05rem 0.4rem black;

    &__loader-icon-container {
        z-index: 100;
        opacity: 0%;
        animation: loaderIconContainer 1s ease-out forwards;
    }

    @keyframes loaderIconContainer {
        from {
            opacity: 0%;
        }
        to {
            opacity: 100%;
        }
    }

    &__loader-icon-background {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 25%;
        width: 100%;
        height: 100%;
        background: black;
    }

    &__loader-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    
    &__wrapper { 
        overflow-y: auto;
        overflow-x: hidden;
        z-index: 2;
        width: 100%;
    }

    &__container {
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        z-index: 2;
    }

    &__video {
        z-index: 1;
        width: 100%;
        height: 30rem;
    }
}
