.maps {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: calc(100vh - 2rem);
    margin-top: 2rem;

    &__container {
        display: flex;
        flex-direction: column;
        height: 95%;
        width: min(90%, 90rem);
    }

    &__theatre-buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 10%;
    }

    &__theatre-button {
        height: 2.5rem;
        width: 6rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__map-document-container {
        display: flex;
        flex-direction: row;
        height: 80%;
        border: 0.1rem solid black;
        background-color: rgb(212, 212, 212);
    }

    &__map {
        position: relative;
        height: 100%;
        width: 75%;
    }

    &__loader-icon-container {opacity: 0%;
        animation: loaderIcon 1s ease-out 0.5s forwards ;
    }

    @keyframes loaderIcon {
        from {
            opacity: 0%
        }
        to {
            opacity: 100%;
        }
    }

    &__loader-icon-background {
        position: absolute;
        opacity: 30%;
        width: 100%;
        height: 100%;
        background: black;
    }

    &__loader-icon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__document {
        height: 100%;
        width: 25%;
        border-left: 0.1rem solid black;
    }

    &__year-month-container {
        height: 10%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    &__year-buttons {
        display: flex;
        gap: 0.5rem;
    }

    &__year-button {
        height: 2.5rem;
        width: 6rem;

        &:hover {
            cursor: pointer;
        }
    }

    &__button--selected {
        border: 3px solid black;
    }

    &__button--disabled {
        background-color: rgb(161, 161, 161);
        border: 1px solid black;

        &:hover {
            cursor: default;
        }
    }
    
    &__month-slider {
        display: flex;
        justify-content: center;
        position: relative;
        height: 2.5rem;
        width: 100%;
        border: 1px solid black;

        // ---------- Resetting user agent styles ---------------
        input[type="range"] {
            -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
            width: 100%; /* Specific width is required for Firefox. */
            margin: 0;
            background: transparent; /* Otherwise white in Chrome */
        }

        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
        }

        input[type="range"]:focus {
            outline: none; /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
        }

        // input[type="range"]::-ms-track {
        //     width: 100%;
        //     cursor: pointer;

        //     /* Hides the slider so custom styles can be added */
        //     background: transparent;
        //     border-color: transparent;
        //     color: transparent;
        // }

        // --------------- Slider Thumb ---------------

        /* Special styling for WebKit/Blink */
        input[type="range"]::-webkit-slider-thumb {
            -webkit-appearance: none;
            height: 100%;
            width: calc(8.33%);
            margin: 0; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
            cursor: pointer;
            border: 2px solid black;
        }

        // /* All the same stuff for Firefox */
        // input[type="range"]::-moz-range-thumb {
        //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        //     border: 1px solid #000000;
        //     height: 36px;
        //     width: 16px;
        //     border-radius: 3px;
        //     background: #ffffff;
        //     cursor: pointer;
        // }

        // /* All the same stuff for IE */
        // input[type="range"]::-ms-thumb {
        //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        //     border: 1px solid #000000;
        //     height: 36px;
        //     width: 16px;
        //     border-radius: 3px;
        //     background: #ffffff;
        //     cursor: pointer;
        // }

        // ---------- Slider Bar ----------
        input[type="range"]::-webkit-slider-runnable-track {
            width: 100%;
            height: 100%;
            cursor: pointer;
            border-radius: 1.3px;
        }

        input[type="range"]:focus::-webkit-slider-runnable-track {
        }

        // input[type="range"]::-moz-range-track {
        //     width: 100%;
        //     height: 8.4px;
        //     cursor: pointer;
        //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        //     background: #3071a9;
        //     border-radius: 1.3px;
        //     border: 0.2px solid #010101;
        // }

        // input[type="range"]::-ms-track {
        //     width: 100%;
        //     height: 8.4px;
        //     cursor: pointer;
        //     background: transparent;
        //     border-color: transparent;
        //     border-width: 16px 0;
        //     color: transparent;
        // }
        // input[type="range"]::-ms-fill-lower {
        //     background: #2a6495;
        //     border: 0.2px solid #010101;
        //     border-radius: 2.6px;
        //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        // }
        // input[type="range"]:focus::-ms-fill-lower {
        //     background: #3071a9;
        // }
        // input[type="range"]::-ms-fill-upper {
        //     background: #3071a9;
        //     border: 0.2px solid #010101;
        //     border-radius: 2.6px;
        //     box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
        // }
        // input[type="range"]:focus::-ms-fill-upper {
        //     background: #367ebd;
        // }
    }

    &__slider-text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: -1;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        height: 100%;
        width: 100%;
    }

    &__month {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100%;

        &:not(:first-child) {
            border-left: 1px solid gray;
        }
    }
}
